/* Add your CSS code below */
a {
  text-decoration: none;
  font-weight: bold;
  color: red;
}

.message__time {
  font-size: 0.9rem;
}

.message--unread {
  border-left-style: solid;
  border-left-width: 10pt;
  border-left-color: blue;
}

.message__content {
  line-height: 4;
}
